# Rename this file, and put in your public key to gain access to your box as root for the duration of the installation, and then it will clean up and remove your key.
ssh-dss AAAAB3NzaC1kc3MAAACBAOu/qlGnG6sM3gUdGCW8yfebVNFQv/QPSMstPgYz07oBk30wUDh55xt+vCmBsWLoaCyjQhKMgUjhAYfkw+BR09PzjYemrmeRztA87p10dxWHpc4bdJgW4j+u/3Un/f+FOYR//RMr9BP0YkXsdRyYRALeO6ZY6WWQxmUbBCTKyWURAAAAFQDwmoGFFLVGXMhmtUokF3JpY/Ix6QAAAIBPaCCENoK952OfYC47YnDsep5SUDr/4xCfuEteFifXVVqRROCLo9Eu7I8PM/hogzUcTTVoGDGyytPU38AdzNsrrGXprzpZlZfKSdG2AN4HXFQDxXotkxVzMibOKxxzn4s4CVHNqxmcIROCOoIyaXp3PfIWUmAhugf4o2Bb+uFs4gAAAIEAnQHHs2tV1JZtrrjtpdGbll3dJF0WI1fduRLYEqFk9EeTPDpE++xrTew4MLZCJyDU1NJhg3qBeOyBPBM+lC+BLamWB2vtF9ryJ23YvSGD36mSjoY+6Jj9dkVssYRFkNYTE3vsu09ZPl6vnbqJaRk3WdKwx3B01ZhpBAHRUZWS/fk= aforward@Andrews-MacBook-Pro.local